frontend-site/.next/
frontend-site/node_modules/
frontend-site/.env

frontend-backoffice/.next/
frontend-backoffice/node_modules/
frontend-backoffice/.env

backend/dist/
backend/node_modules/
backend/.env